body {
    font-family: "Roboto", sans-serif;
    color: var(--slate);
    background-color: #FFFFFF;*/
}

:root{
    --navyblue: #2E2F42;
    --iris: #4D5AE5;
    --cloud: #F4F4FD;
    --cornflower: #E7E9FC;
    --slate: #434455;
    --white: #FFF;
}

.list {
    list-style-type: none;
}

.link {
text-decoration: none;
}

/*------------------------------html-------------------------------*/
.title-list-link {
    color: var(--navyblue);
    /* Body Medium */
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5; /* 150% */
    letter-spacing: 0.02em;
}

.title-contacts {
    color: var(--slate);
    /* Body */
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5; /* 150% */
    letter-spacing: 0.02px;
}

.main-board {
    background: var(--navyblue);
}

.main-board-title {
    color: var(--white);
    /* Header 1 */
    font-family: Roboto;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.07; /* 107.143% */
    letter-spacing: 0.02em;
}

.main-board-button {
    border-radius: 4px;
    background: var(--iris);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    color: var(--white);
    /* Button Text */
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5; /* 150% */
    letter-spacing: 0.04em;
}

.section-preview-text {
    color: var(--navyblue);
    /* Header 3 */
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.2; /* 120% */
    letter-spacing: 0.2em;
}

.section-preview-paragraph {
    color: var(--slate);
    /* Body */
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5; /* 150% */
    letter-spacing: 0.02em;
}

.section-imeges-title {
    color: var(--navyblue);
    /* Header 2 */
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.11; /* 111.111% */
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

.section-imeges-title-personnel {
    color: var(--navyblue);
    /* Header 2 */
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.11; /* 111.111% */
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

.section-title-personnel-text {
    color: var(--navyblue);
    /* Header 3 */
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.2; /* 120% */
    letter-spacing: 0.02em;
}

.section-paragraph-personnel-text {
    color: var(--slate);
    /* Body */
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5; /* 150% */
    letter-spacing: 0.02em;
}

.footer-logotype {
    color: var(--cloud);
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 1.17; /* 116.667% */
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.footer-logotype-part {
    color: var(--iris);
}

.footer-down-desidn {
    background: var(--navyblue);
}

.footer-down-paragraph {
    color: var(--cloud);
    /* Body */
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5; /* 150% */
    letter-spacing: 0.02em;
}

/*------------------------------portfolio-------------------------------*/
.title-button-list {
    list-style: none;
} 

.logo-web {
    color: var(--iris);
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 1.17; 
    letter-spacing: 0.54px;
    text-transform: uppercase;
    text-decoration-line: none;
    font-family: "Raleway", sans-serif;
}

.logo-web:hover {
    color: #404bbf;
}

.logo-part {
    color: var(--navyblue);
}

.title-link {
}

.title-list {
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5; 
    letter-spacing: 0.02em;
}

.title-list-link {
    text-decoration: none;
    color: var(--navyblue);
}

.title-adress-list {
}

.title-contacts {
    color: var(--navyblue);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5; 
    letter-spacing: 0.02em;
    text-decoration: none;
}

.title-button-menu {
    color: var(--iris);
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5; 
    letter-spacing: 0.04em;
    border-radius: 4px;
    border: 1px solid var(--cornflower);
    background: var(--cloud);
}

.title-images-menu {
}

.title-images-menu-title {
    color: var(--navyblue);
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.2; 
    letter-spacing: 0.2em;
}

.title-images-menu-paragraph {
    color: var(--slate);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5; 
    letter-spacing: 0.02em;
}

.body-images-menu {
}

.body-images-menu-title {
    color: var(--navyblue);
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.2; 
    letter-spacing: 0.2em;
}

.body-images-menu-paragraph {
    color: var(--slate);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5; 
    letter-spacing: 0.02em;
} f

.footer-images-menu {
}

.footer-images-menu-title {
    color: var(--navyblue);
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.2; 
    letter-spacing: 0.2em;
}

.footer-images-menu-paragraph {
    color: var(--slate);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5; 
    letter-spacing: 0.02em;
} 

.footer-paragraph {
    color: var(--cloud);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5; 
    letter-spacing: 0.02em;
}

.footer-design-section {
    background: var(--navyblue);
}

.footer-logo {
    color: var(--cloud);
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 1.16; /* 116.667% */
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration-line: none;
}

.footer-logo-part {
color: var(--iris);
}